:root {
    --font-family: "Dosis", sans-serif;
}
body {
    background-color: #000000;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.btn-outline-primary {
    --bs-btn-color: #8e0086;
    --bs-btn-border-color: #8e0086;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8e0086;
    --bs-btn-hover-border-color: #8e0086;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8e0086;
    --bs-btn-active-border-color: #8e0086;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #8e0086;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8e0086;
    --bs-gradient: none;
    font-weight: 700;
}
.year-selector {
    position: absolute;
    top: 4px;
    right: 24px;
}
.year-selector .dropdown-item {
    font-family: var(--font-family);
    font-weight: 500;
    color: #8e0086;
    text-decoration: none;
    letter-spacing: 0.1ch;
}
.year-selector .dropdown-item.selected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='%238e0086'%3E%3Cpath d='M441.3 299.8C451.5 312.4 450.8 330.9 439.1 342.6L311.1 470.6C301.9 479.8 288.2 482.5 276.2 477.5C264.2 472.5 256.5 460.9 256.5 448L256.5 192C256.5 179.1 264.3 167.4 276.3 162.4C288.3 157.4 302 160.2 311.2 169.3L439.2 297.3L441.4 299.7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 24px 32px;
    padding-left: 24px;
}
.year-selector .dropdown-item.empty {
    opacity: 0.65;
}
.year-selector .dropdown-item:hover {
    background-color: rgba(142, 0, 135, 0.1);
}
.year-selector .dropdown-item.active,
.year-selector .dropdown-item:active {
    background-color: #8e0086;
    color: #ffffff;
}
h1,
h2,
h4 {
    color: #8e0086;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
h2,
h4 {
    font-size: 1.3rem;
}
hr {
    border-color: #8e0086;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
}
.header h1 {
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
}
.header img {
    max-height: 240px;
}
.header:hover img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(12%) saturate(7475%)
        hue-rotate(60deg) brightness(102%) contrast(104%);
}
.main-container {
    width: 100%;
    padding: 0 10px;
}
.month-label {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 24px;
    font-family: var(--font-family);
    width: 100%;
}
.month-row {
    width: 100%;
    margin: 0 auto;
}
.article-card {
    background-color: #e7e7e7;
    width: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 0;
}
.article-thumbnail {
    width: 300px;
    margin: 0 !important;
}
.article-thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}
.article-title {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: 8px solid transparent;
    border-top-width: 4px;
    border-bottom-width: 20px;
    margin: 0;
    width: 100%;
    line-height: 20px;
    max-height: fit-content;
    background-color: rgba(128, 128, 128, 0.9);
    backdrop-filter: blur(4px);
    position: absolute;
    bottom: 0;
    opacity: 1;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: opacity 0.1s, transform 0.1s;
}
.article-card:hover .article-title {
    opacity: 0;
    transform: translateY(100%);
}
.article-author {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    color: #8e0086;
    text-align: right;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: opacity 0.1s ease-in;
}
.article-card:hover .article-author {
    opacity: 0;
}
.article-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(20, 20, 20, 0.9);
    opacity: 0;
}
.article-card:hover .article-link {
    opacity: 1;
}
.article-timestamp {
    display: flex;
    flex-direction: column;
}
.article-timestamp span:last-child {
    font-size: small;
}
.article-tags {
    margin-top: auto;
    max-height: 74px;
    font-size: 15px;
    line-height: 18px;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 0 auto 16px;
    padding: 0 16px;
    line-height: 24px;
}
.copy {
    text-align: center;
}
.copy {
    color: #a0a0a0;
}
.links a,
.copy a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.links a:hover,
.copy a:hover {
    text-decoration: underline;
    color: #8e0086;
}
footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 16px 0 0;
}

.article-thumbnail {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.article-thumbnail.is-loading {
    background-color: black;
    background-image: url("/icons/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
}

.article-thumbnail.is-broken {
    background-image: url("/icons/broken.png");
    background-color: rgba(50, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
}

.article-thumbnail.is-loading img,
.article-thumbnail.is-broken img {
    opacity: 0;
}
